@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply text-base !important;
  }
  h1 {
    @apply text-6xl !important;
    margin: 0px !important;
  }
  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-xl;
  }
  a {
    @apply text-blue-600 underline;
  }
  strong {
    @apply font-medium;
  }
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Poppins-Medium.ttf") format("truetype");
}

html,
body {
  font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.btn--small {
  @apply text-base;
}

.btn--large {
  @apply text-xl;
}
